@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

/* ----header css--> */

header {
  position: fixed;
  background-color: rgb(247, 247, 242);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease;

  width: 100%;

  top: 0;

  right: 0;

  z-index: 1000;

  display: flex;

  align-items: center;

  justify-content: space-between;

  padding: 2rem 8rem;
}

.logo {
  color: #1e1e24;

  font-size: 1.2rem;

  font-weight: 600;
}
.navmenu {
  display: flex;
}

.navmenu a {
  display: inline-block;
  padding: 10px 20px;

  margin: 0 1.5rem;

  color: #1e1e24;

  font-weight: 500;

  transition: all 0.6s;
}
.navmenu a.active {
  background-color: black;
  color: white;
  border-radius: 0.7rem;
}
.navmenu a:hover {
  transform: translateY(-5px);
}

/* --------------langugae bar css-> */

.switch-lang {
  font-size: 16px;
  color: white;
  width: 110px;
  text-align: center;
  cursor: pointer;
  z-index: 50;
  top: 20px;
  right: 20px;
}
.switch-lang:hover .lang-dropdown {
  display: block;
  position: absolute;
}

.switcher-link {
  color: #fff;
}
.switcher-link:hover {
  color: #fff;
}

.current-lang {
  background: #34495e;
  padding: 3px 5px 0px 5px;
  border-radius: 5px;
}

.lang-flag {
  width: 20px;
  display: inline-block;
}

.lang-text {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
  margin-top: 2px;
}

.lang-dropdown {
  display: none;
  background: #34495e;
  width: 110px;
  margin-top: 1px;
  border-radius: 5px;
}

.selecting-lang {
  padding: 3px 5px 3px 5px;
  cursor: pointer;
}
.selecting-lang:hover {
  border-radius: 5px;
  background: #8d9ba8;
  color: black;
  transition: all 0.5s;
}

ul > :first-child {
  border-radius: 5px 5px 0px 0px;
}

ul > :last-child {
  border-radius: 0px 0px 5px 5px;
}

li {
  list-style-type: none;
}

.menu-arrow {
  display: inline-block;
  width: 10px;
  margin-left: 10px;
  vertical-align: top;
  margin-top: 6px;
}
.switch-lang div img {
  margin: 5px 0;
}

/* -----BArgraf css--> */
.htmlCss {
  display: flex;
  flex-direction: column;
  margin-top: 140px;
  text-align: center;
}
h1 {
  padding: 20px;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 40px;
  color: orangered;
}

.qraf1 {
  display: flex;
  padding: 30px;
  margin: 10px 30px;
  flex-wrap: wrap;
  gap: 30px 80px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-bottom: 7px solid #7726e0;
}

.container1 {
  display: flex;
  width: 420px;
  padding: 50px 0;
  border-radius: 8px;
  background: #fff;
  row-gap: 30px;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 95%;
  height: 230px;
  object-fit: contain;
}
.git {
  margin-top: 70px;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 70px 30px;
  border-bottom: 7px solid #7726e0;
}
/* .imgBox {
  opacity: 0;
  transition: opacity 250ms ease-in;
} */
.imgBox {
  display: flex;
  align-items: center;
  gap: 30px 70px;
  padding: 20px;
}
.circular-progress {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circular-progress::before {
  content: "";
  position: absolute;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  background-color: #fff;
}
.progress-value {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  color: #7d2ae8;
}
.text {
  font-size: 30px;
  font-weight: 500;
  color: #606060;
}

.Nodejs {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 39px 10px;
  text-align: center;
}

.nolage {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px 50px;
}
.nolage ul {
  padding: 30px;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
}
.nolage ul li {
  text-align: left;
  border-bottom: 2px solid rgb(146, 143, 143);
  padding: 10px;
  overflow-wrap: normal;
}
/* -----footer-- */

footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
  padding-bottom: 50px;
}
.azercell {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.language {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.country {
  display: flex;
  background-color: black;
  padding: 3px 15px 0.3px 15px;
  border-radius: 2.1rem;
  margin: 17px 0px;
  border: 1px solid #3d3c39;
}
.country div {
  margin: 9px;
}
.country .flag {
  border-radius: 50%;
  background-color: black;
  text-align: center;
  align-items: center;
}
.country img {
  width: 30px;
  height: 30px;
}
.tools1 {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.tools1 div {
  margin: 10px 4px;
}
.tools1 div a {
  color: white;
}
.tools2 {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.tools2 div {
  margin: 10px 4px;
}
.tools2 div a {
  color: white;
}

.footer2 {
  margin-top: 0.5px;
  display: flex;
  align-items: start;
  justify-content: space-around;
}
.footer2 .number {
  display: flex;
  flex-direction: column;
}
.numberBox {
  background-color: #252627;
  padding: 5px 2px;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}
.numberBox i {
  font-size: 30px;
  margin: 8px 0 8x 4px;
}
.numberBox span {
  font-size: 20px;
  margin: 8px 0 8x 4px;
}
.Download {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.storeIcons {
  display: flex;
  align-items: start;
}
.storeIcons .icon {
  background-color: #252627;
  padding: 9px 8px;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 20px 9px 0;
}
.storeIcons i {
  color: white;
  font-size: 28px;
}
.Media {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.Media .media-icon {
  display: flex;
  margin-top: 20px;
}
.media-icon .icon {
  background-color: #252627;
  margin: 10px 10px 10px 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 12px 14px;
}
.Media .media-icon .icon i {
  color: white;
  font-size: 28px;
}

.active {
  border-bottom: 2px solid white;
  padding-bottom: 3px;
}
